li.list-group-item.list-group-item-action.list-group-item-light .words{
  text-decoration: line-through;
}
.bi-pencil-square{
  font-size: 24px;
  opacity: 0.7;
  transition: 0.1s;
  background-color: transparent;
}
.bi-pencil-square:hover{
  opacity: 1;
}